
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c2129;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #1c2129;
    color: white;
    padding: 1rem 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

#logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

#logo h1 {
    margin: 0;
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

#logo img {
    margin-right: 10px;
}

.sociallinks {
    display: flex;
    align-items: center;
    gap: 20px; 
}


.sociallinks a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.sociallinks svg {
    width: 35px;
    height: 35px;
    fill: rgb(255, 255, 255);
    transition: transform 0.3s, fill 0.3s;
}

.sociallinks svg:hover {
    transform: scale(1.2);
    fill: #086c34; 
}

main{
    flex: 1;
    padding: 100px;
}

#backdropGrid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

footer{
    font-family: 'Courier New', Courier, monospace;
    background-color: #1c2129;
    color: white;
    padding: 1rem 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.5);
}