@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c2129;
    color: aliceblue;
    display: flex;
    flex-direction: column;
}



header {
    background-color: #1c2129;
    color: white;
    padding: 1rem 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

#logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

#logo h1 {
    margin: 0;
    font-size: 1.5rem;
    display: inline-flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

#logo img {
    margin-right: 10px;
}

.sociallinks {
    display: flex;
    align-items: center;
    gap: 20px; 
}


.sociallinks a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.sociallinks svg {
    width: 30px;
    height: 30px;
    fill: rgb(255, 255, 255);
    transition: transform 0.3s, fill 0.3s;
}

.sociallinks svg:hover {
    transform: scale(1.2);
    fill: #086c34; 
}

main{
    display: flex;
    align-items: center;
    margin-top: -30px;
    margin-bottom: -30px;
    height: 88vh;
}

#mainContainer{
    width: 25%;
    margin-left: 5%;
    flex: 1;
    padding: 100px;
    font-family: 'Roboto', sans-serif;
}

#backdropGrid {
    position: fixed;
    top: 0;
    left: 0;
    width: 75vw;
    height: 75vh;
    max-height: 200%;
    z-index: -1;
    overflow: hidden;
}


.mainHeader{
    text-shadow: 4px 3px 2px #047c38;
}

#downloadIcon{
    max-width: 20px;
    stroke: #ffffff;
    margin-left: 10px;
}

.globalButton{
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #086c3356;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    width: 225px;
}

.globalButton:hover{
    transition: transform 0.3s;
    background-color: #086c33ae;
    cursor: pointer;
}

#downloadDescription{
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.66rem;
    margin-top: 10px;
    font-weight: 100;
}

strong{
    color: #086c34;
    font-size: 0.8rem;
}

#chatContainer{
    width: 33%;
    margin-right: 10%;
    display: flex;
    gap: 1rem;
}

#msg {
    opacity: 1;
    color: transparent;
    transition: color 1s ease-in-out;
}

textarea{
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    width: 420px;
    height: 110px;
    border: none;
    background-color: #086c3356;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
textarea::placeholder{
    font-size: 1rem;
    color: rgba(229, 229, 229, 0.804);
    font-family: 'Courier New', Courier, monospace;
}

footer{
    font-family: 'Courier New', Courier, monospace;
    background-color: #1c2129;
    color: white;
    margin-bottom:0;
    padding: 0;
    display: block;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.5);
    height: 100px;
}

#footercontent{
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}